@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

.input-field{
    width: 290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
}
.city-text{
    padding: .2rem;
    border-radius: 2rem;
    outline: none;
    border: .1rem ridge;
    display: block;
}
.city-btn{
    display: block;
    border-radius: 2rem;
    border: .1rem ridge;
    cursor: pointer;
}
.col{
    width: 100%;
    margin-top: .2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row{
    overflow: hidden;
    padding: 1rem;
}
.date-field{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.date{
    display: block;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    padding: .4rem;
}
.image{padding: 1rem;}
.image img{
    width: 100%;
    height: 10rem;
} .degree-field{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.degree{
    display: flex;
    flex-direction: column;
    font-weight: 800;
    color: #fff;
    padding: .3rem;
}