
.container{
    width:85%;
    margin: 0 auto;
    margin-top: 6rem;
    background-color: #003049;
}

@media only screen and (max-width:1076px){
    .container{
        width:85%;
        margin: 0 auto;
        margin-top: 8%;
    }
}
@media only screen and (max-width:799px){
    .container{
        margin-bottom: 5rem;
    }
    .col{
        width: 100%;
        margin-top: .2rem;
        display: flex;
        flex-direction: column;
    }
    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-bottom: 1px solid #fff; 
    }
    .row:nth-child(5){        
        border-bottom: none;
    }
    
    .date-field{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: none;
    }
    .image{
        width: 20%;
        border-bottom: none;
    }
    .image img{
        width: inherit;
        height: 5rem;
    }
    .degree-field{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}/* 
@media only screen and (max-width:683px){
    .col{
        width: 100%;
        margin-top: .2rem;
        display: flex;
        flex-direction: row;
    }.image{
        width: 60%;
        background-color: blue;
    }
    .image img{
        width: inherit;
        background-color: blue;
    }
   
}
@media only screen and (max-width:607px) and ( min-width:500px){
    .container{
        width:85%;
        margin: 0 auto;
        margin-top: 8%;
        background-color: aqua;
    }
    .date-field{
        width:5rem;
        border-bottom: 1px solid #fff;
    }
} */